IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	width: 5%;
}
h6{
	font-family: 'JennaSue';
	margin-top:0%;
	text-align: center;
	font-size: 110%;
}


#contenedor1, #contenedor4, #contenedor5, #contenedor6, #contenedor7{
	background: url("../imgs/contemporary_china.png");
	text-align: -moz-center;
}

#contenedor2{
	background: url("../imgs/contemporary_china.png");
	text-align: -moz-left;
}

#contenedor3{
	background: url("../imgs/contemporary_china.png");
}
#formulario-1, #formulario-4{
	text-align: -moz-center;
	display: inline-block;
}
#formulario-2{
	margin-left: 33%;
	display: inline-block;
	max-width: 50%;
}

#formulario-3{
	margin-left: 33%;
	display: inline-block;
}

label#select_label{
	margin-left: -52%;
}

#subFormularioEmpleadoConsultor, #subFormularioEmpresaExterna {
	text-align: -moz-center;
}

#formulario5, #formulario7, #formulario6, #formulario-resumen {
	vertical-align: top;
	text-align: -moz-center;
}


#formulario-4{
	display: inline-block;

}

#formulario-6{
	padding-bottom: 10px;
}

#consultar6{
	text-align: center;
}

#subFormularioConsultar6, #formulario-7{
	text-align: -moz-center;
}

#feedback { 
	font-size: 1.4em; 
}

.selected .ui-selecting { 
	background: #FECA40; 
}
.selected .ui-selected { 
	background: #F39814; 
	color: white; 
}
.selected { 
	list-style-type: none;
	margin: 0;
	padding: 0; 
	width: 60%; 
	background-color: #C45D97;
}
.selected li { 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.4em; 
	height: 18px; 
}
.styleSelected{
	border: 1px solid #FF6B7F;
	background: #DB4865 url("images/ui-bg_diagonals-small_40_db4865_40x40.png") repeat scroll 50% 50%;
	color: #FFF;
}

.styleProyectosOrdenados{
	border: 1px solid #FF6B7F;
	background: black url("images/ui-bg_diagonals-medium_65_f6f6f5_40x40.png") repeat scroll 50% 50%;
	color: black;
	width: 10;
}


table tr:hover{
	border: 1px solid #999;
	background: #CCD232 url("images/ui-bg_diagonals-small_75_ccd232_40x40.png") repeat scroll 50% 50%;
	color: #212121;
}

td #proyectosOrdenados, #listado{
    cursor: not-allowed;
}

th #proyectosOrdenados, #listado{
    cursor: not-allowed;
}

th, td {
    padding: 15px;
    text-align: center;
}
table#tablaRecursos th{
	background-color: #FB98BE;
	padding-top: 5px;
    padding-bottom: 4px;
}


table#tablaRecursos {
	width: 418px;
}

#volver-consulta7 {
    margin-left: -80%;
}
#volver-seleccionar-proyecto{
	margin-left: -80%;
}

.ui-state-default .ui-icon
{
    background-image: url("images/ui-icons_454545_256x240.png");
}

table#listado {
    width: 70%;
}

table#tareaslistadas, #recursoslistados {
    width: 70%;
}

table#proyectosOrdenados th{
	background-color: #FB98BE;
	padding-top: 5px;
    padding-bottom: 4px;
    cursor: not-allowed;
}
table#proyectosOrdenados, #listado td{
    cursor: not-allowed;
}

td {
	border: 1px #DDD solid; 
	padding: 5px; 
	cursor: pointer;
}

@font-face {
    font-family: "Yanone Kaffeesatz";
    src: url("../fuentes/YanoneKaffeesatz-Regular.otf");
    src: url("../fuentes/YanoneKaffeesatz-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JennaSue";
    src: url("../fuentes/JennaSue.ttf");
    src: url("../fuentes/JennaSue.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bubblegum Sans";
    src: url("../fuentes/BubblegumSans-Regular.otf");
    src: url("../fuentes/BubblegumSans-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bree Serif";
    src: url("../fuentes/BreeSerif-Regular.otf");
    src: url("../fuentes/BreeSerif-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: "Bree Serif";
    src: url("../fuentes/BreeSerif-Regular.otf");
    src: url("../fuentes/BreeSerif-Regular.otf") format('opentype');
	font-size: 0.9em;
}

.container {
	width : 80%; 
	margin: 0px auto; 
	background:url("../imgs/contemporary_china.png");
}

#label{
    margin-bottom:5px;
    width : 100px;
    height : 20px;
    line-height : 25px;
    display: inline;
    position:relative;
    text-align : center;
}

body{
	font-family: 'Bree Serif';
	background: url("../imgs/contemporary_china.png");
}

h1{
	text-align:center;
	font-family: 'Bubblegum Sans';
	text-transform: uppercase;
	margin-bottom: 21px;
}

h2{
	font-family: 'Bree Serifv';
}

ul{
	text-align:left;
	font-family: 'Bree Serif';
	text-transform: uppercase;
	margin-top: 50px;
}
#label_intro{
	text-align: center;
}
label {
	display: -moz-grid-line;
	text-align: left;
	width: 200px;
	margin-top: 40px;
    margin-bottom: 10px;
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
}
.center {
    margin-bottom: 10px;
    margin-top: 10px;
	text-align: -moz-center;
}


input[type="text"]{
	display: inline-block;
	width: 210px;  
	font-family: 'Bree Serif';	
}

select{
	display: inline-block;
	width: 210px;  
	font-family: 'Bree Serif';	
}


input[type="submit"]{
	display: block;
	width: 210px;  
	font-family: 'Bree Serif';	
	text-align: center;
}



li{
	list-style:none;
} 

.form-error {
    display: block;
    border: 1px solid #b94a48;
    border-radius: 4px;
    text-align: center;
}

.ui-slider-handle  {
	margin-left: 0px!important;
	background-color: red;
}

table#tareasrecursoEmpleadoConsultor {
    padding-left: 35.5%;
    text-align: center;
}
caption {
    padding-left: 56%;
    text-align: center;
 }

select.error{
	background-position: right 19px center;
}

select.valid{
	background-position: right 19px center;
}

.menuPrincipal ul li.itemSeleccionado{
	border-bottom: 1px solid #ea1164;
	font-weight: bold;
	cursor: default;
}



#error-identificador {
	display:inline;
	color:#b94a48;
	margin-top:5px;
	margin-bottom:10px;
	line-height:140%;
	display: none;
}